In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Importing Initial Test Data

In [2]:
books_ctlg=pd.read_csv("BOOKSCATALOGUE.csv")
purchase_history=pd.read_csv("BOOKSPURCHHISTORY.csv")
visit_history=pd.read_csv("BOOKSVISITHISTORY.csv")
users_list=pd.read_csv("USERMASTER.csv")
train_data=pd.read_csv("BOOKSMASTERTRAIN.csv")

In [3]:
visit_history.head()

,UserID,BookID,SESSIONID,REFERRALID,TIMESTAMP,BOOKPREVIEWED,SUBSCRIBED,WeekofYear
0,637280,170387,276725249,3401168,2018-09-06 15:39:31,1,0,201836
1,656222,123033,277507996,3400002,2018-09-07 14:46:42,1,0,201836
2,660216,128265,276144807,3404417,2017-12-27 16:43:18,1,0,201752
3,654353,139601,276605171,3400002,2018-05-03 22:57:35,1,0,201818
4,614789,168842,275260040,3605387,2018-04-04 14:12:34,1,0,201814

In [4]:
users_list.head()

,UserID,SIGNUPDATE,DELETED,AGEGROUP,GENDER,STATE
0,600003,2018-09-07 01:29:02,NaN,28.0,FEMALE,NaN
1,600008,2017-11-02 20:33:20,NaN,43.0,MALE,NaN
2,600011,2017-11-21 02:03:30,NaN,35.0,MALE,NaN
3,600017,2018-02-13 12:21:22,2018-08-06 15:36:27,27.0,MALE,Massachusetts
4,600020,2017-11-13 22:29:13,NaN,53.0,MALE,Pennsylvania

# Mapping data and removing unncessary data(users_list)

In [5]:
users_list=users_list.drop(columns=['DELETED','STATE', 'SIGNUPDATE'], axis=1)

In [6]:
users_list['AGEGROUP']=np.where(users_list['AGEGROUP']>30,1,0)

In [7]:
users_list['GENDER']=users_list['GENDER'].map({'FEMALE':1,'MALE':0})
users_list.head()

   UserID  AGEGROUP  GENDER
0  600003         0       1
1  600008         1       0
2  600011         1       0
3  600017         0       0
4  600020         1       0

# Adding Purchased Books and Viewed Books for every user

In [8]:
books_purchased=[]
books_purchased_buffer=[]
users=[]
users=users_list['UserID']
for i in range(15000):
    books_purchased_buffer=purchase_history.loc[purchase_history['UserID'] == users[i]]
    books_purchased.append(books_purchased_buffer['BookID'].values)
    
books_purchased=[list(i) for i in books_purchased]

In [9]:
users_list['books_bought']=books_purchased#adding books bought by every user to user list
users_list['books_bought']#=users_list['books_bought'].str[0]
users_list

,UserID,AGEGROUP,GENDER,books_bought
0,600003,0,1,[]
1,600008,1,0,[165498]
2,600011,1,0,"[162488, 155019]"
3,600017,0,0,"[121582, 135346]"
4,600020,1,0,"[117564, 105481, 169328, 167437, 154892, 11440..."
5,600028,1,1,"[120507, 175147, 170816, 136331, 126647, 14300..."
6,600031,1,0,[]
7,600038,1,1,[170569]
8,600043,1,1,"[129631, 111360, 126647, 170816, 145901, 13859..."
9,600046,1,1,[]
10,600052,1,1,"[153408, 153014, 117261, 138590, 142054, 12963..."
11,600057,0,1,[130122]
12,600061,1,1,"[150686, 172776, 103725, 146087]"
13,600068,1,1,"[151740, 114400, 141745, 114400, 130837, 11440..."
14,600072,1,1,[119780]
15,600079,1,1,[]
16,600081,0,1,"[125941, 101760]"
17,600089,1,1,[]
18,600090,1,0,[]
19,600099,0,0,"[143688, 170549]"
20,600102,1,0,[162671]
21,600105,1,0,[127590]
22,600114,1,1,[108857]
23,600115,1,0,[128293]
24,600122,1,0,[]
25,600126,0,0,[158766]
26,600133,1,1,"[164890, 128955, 123680, 140409, 128955, 125941]"
27,600139,1,0,[159750]
28,600141,1,0,[163177]
29,600146,1,0,[]
...,...,...,...,...
14970,674853,1,1,"[163893, 115582]"
14971,674856,1,1,[178261]
14972,674861,1,1,"[178261, 153352, 132069, 105907, 173702]"
14973,674866,1,0,[102227]
14974,674871,0,0,"[156793, 161929, 150393, 114530]"
14975,674875,1,1,"[146004, 154925, 169709, 173200, 122114]"
14976,674884,1,1,[]
14977,674885,1,0,[121582]
14978,674890,1,0,[118065]
14979,674899,0,1,"[166507, 157022, 143089]"
14980,674902,0,0,"[113819, 176534]"
14981,674907,1,0,"[129177, 142460]"
14982,674911,0,1,[129526]
14983,674917,1,1,[]
14984,674924,1,0,[]
14985,674927,0,1,"[169446, 169446, 169446, 169446]"
14986,674931,0,0,[]
14987,674938,1,0,[154555]
14988,674942,1,1,[]
14989,674947,1,1,"[175174, 122660, 145634, 132459]"
14990,674953,1,0,"[157022, 116647, 171769]"
14991,674958,1,0,"[146618, 146618, 131877]"
14992,674964,1,0,[]
14993,674967,1,0,"[161031, 168053, 130837, 122549, 110743]"
14994,674970,1,0,"[130997, 142760]"
14995,674975,1,0,[160510]
14996,674984,1,1,"[115011, 122871, 146483, 156863, 164397, 100987]"
14997,674986,1,0,"[165088, 111925, 127400, 165951]"
14998,674992,1,0,[]
14999,674999,1,0,[]

In [10]:
books_visited=[]
books_visited_buffer=[]
for i in range(15000):
    books_visited_buffer=visit_history.loc[visit_history['UserID'] == users[i]]
    books_visited.append(books_visited_buffer['BookID'].values)
    
books_visited=[list(i) for i in books_visited]

In [11]:
users_list['books_visited']=books_visited #adding books visited by every user to user list
users_list.head()
users_list['books_relevant']=users_list['books_visited']+users_list['books_bought']#adding books_bought and books_visited
users_list=users_list.drop(columns=['books_bought','books_visited'], axis=1)
users_list

,UserID,AGEGROUP,GENDER,books_relevant
0,600003,0,1,[109745]
1,600008,1,0,"[170179, 148897, 126430, 162822, 123350, 17302..."
2,600011,1,0,"[155019, 155019, 155019, 177754, 162488, 155019]"
3,600017,0,0,"[121582, 135346, 135346, 135346, 135346, 12158..."
4,600020,1,0,"[115225, 169328, 121906, 114845, 171884, 12190..."
5,600028,1,1,"[175147, 126647, 136331, 138507, 117756, 15030..."
6,600031,1,0,"[116882, 100804, 121582, 118679, 173406, 16547..."
7,600038,1,1,"[170569, 170569, 132893, 170569, 170569, 17056..."
8,600043,1,1,"[123784, 177211, 147044, 177061, 163177, 14360..."
9,600046,1,1,[165088]
10,600052,1,1,"[165367, 118992, 153408, 170816, 143089, 11726..."
11,600057,0,1,"[130122, 130122, 130122]"
12,600061,1,1,"[150686, 156863, 128592, 166279, 147826, 15675..."
13,600068,1,1,"[153396, 175639, 131674, 151740, 131674, 11469..."
14,600072,1,1,[119780]
15,600079,1,1,[]
16,600081,0,1,"[125941, 101760, 150332, 101760, 125941, 17918..."
17,600089,1,1,"[144990, 124220, 145901, 114479, 114479, 14523..."
18,600090,1,0,"[113143, 174650, 140822, 104367, 149142, 10520..."
19,600099,0,0,"[170549, 170549, 143688, 170549]"
20,600102,1,0,"[137840, 123680, 162671, 162671, 123680, 12015..."
21,600105,1,0,"[120845, 127590, 127590, 127590]"
22,600114,1,1,"[120309, 167873, 106408, 132485, 130696, 10688..."
23,600115,1,0,"[128293, 128293]"
24,600122,1,0,"[142054, 142054, 120507, 142054]"
25,600126,0,0,"[158766, 158766, 158766, 158766]"
26,600133,1,1,"[169446, 145008, 154371, 128955, 100390, 17619..."
27,600139,1,0,"[159750, 106808, 178261, 159750, 159750, 17826..."
28,600141,1,0,"[163177, 163177, 163177, 163177, 163177, 163177]"
29,600146,1,0,"[163768, 104367, 100892, 163768, 167938]"
...,...,...,...,...
14970,674853,1,1,"[163893, 163893, 163893, 163893, 163893, 16389..."
14971,674856,1,1,"[139588, 168381, 178261, 178261, 178261]"
14972,674861,1,1,"[153617, 138354, 173702, 105907, 123467, 10867..."
14973,674866,1,0,"[173023, 173023, 102227, 173023, 173023, 10222..."
14974,674871,0,0,"[150393, 163421, 148229, 150393, 156793, 16192..."
14975,674875,1,1,"[125399, 141593, 116985, 100632, 161911, 11756..."
14976,674884,1,1,"[178641, 120106]"
14977,674885,1,0,"[121582, 121582, 121582, 121582, 121582, 12158..."
14978,674890,1,0,"[118065, 118065]"
14979,674899,0,1,"[157022, 127561, 110105, 115582, 143089, 12797..."
14980,674902,0,0,"[113819, 123784, 113819, 123784, 113819, 176534]"
14981,674907,1,0,"[142460, 110484, 142460, 121906, 129177, 15489..."
14982,674911,0,1,"[129526, 129526, 136291, 129526, 129526, 10631..."
14983,674917,1,1,"[145534, 113508]"
14984,674924,1,0,"[120314, 154555, 146087, 117927]"
14985,674927,0,1,"[169446, 169446, 169446, 169446, 169446, 16944..."
14986,674931,0,0,[]
14987,674938,1,0,"[154555, 154555, 154555]"
14988,674942,1,1,"[113242, 143871, 137622, 143650, 123842, 13597..."
14989,674947,1,1,"[175174, 132459, 154977, 176481, 113756, 13245..."
14990,674953,1,0,"[116647, 105083, 110100, 171769, 157022, 17176..."
14991,674958,1,0,"[146618, 147997, 128955, 146618, 146618, 14661..."
14992,674964,1,0,[]
14993,674967,1,0,"[168053, 157704, 111999, 157709, 160363, 10505..."
14994,674970,1,0,"[117306, 117580, 162058, 144682, 154865, 17340..."
14995,674975,1,0,"[118516, 138878, 163436, 151539, 154123, 13889..."
14996,674984,1,1,"[122907, 148229, 136690, 132893, 164397, 12287..."
14997,674986,1,0,"[127400, 127400, 127400, 127400, 127400, 16183..."
14998,674992,1,0,[]
14999,674999,1,0,[]

# Adding Genres, book type, popularity, user rating, coverpage

In [14]:
Genre=[]
Genre_buffer=[]
books_bought=users_list['books_relevant'].values
for i in range(15000):
    temp=[]
    temp=books_bought[i]
    length=len(temp)
    temp2=[]
    #print(length)
    if length==0:
        Genre_temp=[]
    else:    
        for j in range(length):
            Genre_buffer=train_data.loc[train_data['BookID'] == temp[j]]
            temp2.append(Genre_buffer['GENRE'].values)
            Genre_temp=[list(i) for i in temp2]

    Genre.append(Genre_temp)

In [15]:
users_list['Genres_relevant']=Genre

In [17]:
btype=[]
btype_buffer=[]
for i in range(15000):
    temp=[]
    temp=books_bought[i]
    length=len(temp)
    temp2=[]
    #print(length)
    if length==0:
        btype_temp=[]
    else:    
        for j in range(length):
            btype_buffer=train_data.loc[train_data['BookID'] == temp[j]]
            temp2.append(btype_buffer['OTHERPRINTEDINFO'].values)
            btype_temp=[list(i) for i in temp2]

    btype.append(btype_temp)

In [18]:
users_list['Book Type']=btype

In [19]:
users_list.head()

,UserID,AGEGROUP,GENDER,books_relevant,Genres_relevant,Book Type
0,600003,0,1,[109745],[[Nonfiction]],"[[['Paperback, 384 pages', 'Published August 1..."
1,600008,1,0,"[170179, 148897, 126430, 162822, 123350, 17302...","[[Classics], [Fiction], [Classics], [Nonfictio...","[[['Paperback, 93 pages', 'Published June 29th..."
2,600011,1,0,"[155019, 155019, 155019, 177754, 162488, 155019]","[[Nonfiction], [Nonfiction], [Nonfiction], [Cl...","[[['Hardcover, 149 pages', 'Published October ..."
3,600017,0,0,"[121582, 135346, 135346, 135346, 135346, 12158...","[[Romance], [Fiction], [Fiction], [Fiction], [...","[[['Kindle Edition, 319 pages', 'Published May..."
4,600020,1,0,"[115225, 169328, 121906, 114845, 171884, 12190...","[[Fantasy], [Nonfiction], [Fiction], [Classics...","[[['Paperback, 256 pages', 'Published 1996 by ..."

In [25]:
popularity=[]
popularity_buffer=[]
for i in range(15000):
    temp=[]
    temp=books_bought[i]
    length=len(temp)
    temp2=[]
    #print(length)
    if length==0:
        popularity_temp=[]
    else:    
        for j in range(length):
            popularity_buffer=train_data.loc[train_data['BookID'] == temp[j]]
            temp2.append(popularity_buffer['Popularity'].values)
            popularity_temp=[list(i) for i in temp2]

    popularity.append(popularity_temp)

In [26]:
users_list['Popularity']=popularity

In [30]:
rating=[]
rating=[]
for i in range(15000):
    temp=[]
    temp=books_bought[i]
    length=len(temp)
    temp2=[]
    #print(length)
    if length==0:
        rating_temp=[]
    else:    
        for j in range(length):
            rating_buffer=train_data.loc[train_data['BookID'] == temp[j]]
            temp2.append(rating_buffer['Popularity'].values)
            rating_temp=[list(i) for i in temp2]

    rating.append(rating_temp)

In [31]:
users_list['User Rating']=rating

In [32]:
users_list.head()

,UserID,AGEGROUP,GENDER,books_relevant,Genres_relevant,Book Type,Popularity,User Rating
0,600003,0,1,[109745],[[Nonfiction]],"[[['Paperback, 384 pages', 'Published August 1...",[[1.0395010395010396]],[[1.0395010395010396]]
1,600008,1,0,"[170179, 148897, 126430, 162822, 123350, 17302...","[[Classics], [Fiction], [Classics], [Nonfictio...","[[['Paperback, 93 pages', 'Published June 29th...","[[15901.395901395901], [601.8414018414018], [2...","[[15901.395901395901], [601.8414018414018], [2..."
2,600011,1,0,"[155019, 155019, 155019, 177754, 162488, 155019]","[[Nonfiction], [Nonfiction], [Nonfiction], [Cl...","[[['Hardcover, 149 pages', 'Published October ...","[[1.277101277101277], [1.277101277101277], [1....","[[1.277101277101277], [1.277101277101277], [1...."
3,600017,0,0,"[121582, 135346, 135346, 135346, 135346, 12158...","[[Romance], [Fiction], [Fiction], [Fiction], [...","[[['Kindle Edition, 319 pages', 'Published May...","[[7276.952776952777], [4088.402138402138], [40...","[[7276.952776952777], [4088.402138402138], [40..."
4,600020,1,0,"[115225, 169328, 121906, 114845, 171884, 12190...","[[Fantasy], [Nonfiction], [Fiction], [Classics...","[[['Paperback, 256 pages', 'Published 1996 by ...","[[3155.7024057024046], [16.43896643896644], [2...","[[3155.7024057024046], [16.43896643896644], [2..."

In [33]:
users_list.to_csv('prepocessed.csv', index=False)

In [34]:
users_list

,UserID,AGEGROUP,GENDER,books_relevant,Genres_relevant,Book Type,Popularity,User Rating
0,600003,0,1,[109745],[[Nonfiction]],"[[['Paperback, 384 pages', 'Published August 1...",[[1.0395010395010396]],[[1.0395010395010396]]
1,600008,1,0,"[170179, 148897, 126430, 162822, 123350, 17302...","[[Classics], [Fiction], [Classics], [Nonfictio...","[[['Paperback, 93 pages', 'Published June 29th...","[[15901.395901395901], [601.8414018414018], [2...","[[15901.395901395901], [601.8414018414018], [2..."
2,600011,1,0,"[155019, 155019, 155019, 177754, 162488, 155019]","[[Nonfiction], [Nonfiction], [Nonfiction], [Cl...","[[['Hardcover, 149 pages', 'Published October ...","[[1.277101277101277], [1.277101277101277], [1....","[[1.277101277101277], [1.277101277101277], [1...."
3,600017,0,0,"[121582, 135346, 135346, 135346, 135346, 12158...","[[Romance], [Fiction], [Fiction], [Fiction], [...","[[['Kindle Edition, 319 pages', 'Published May...","[[7276.952776952777], [4088.402138402138], [40...","[[7276.952776952777], [4088.402138402138], [40..."
4,600020,1,0,"[115225, 169328, 121906, 114845, 171884, 12190...","[[Fantasy], [Nonfiction], [Fiction], [Classics...","[[['Paperback, 256 pages', 'Published 1996 by ...","[[3155.7024057024046], [16.43896643896644], [2...","[[3155.7024057024046], [16.43896643896644], [2..."
5,600028,1,1,"[175147, 126647, 136331, 138507, 117756, 15030...","[[Romance], [History], [History], [Romance], [...","[[['Paperback, 356 pages', 'Published May 25th...","[[24401.70775170775], [130.23463023463023], [1...","[[24401.70775170775], [130.23463023463023], [1..."
6,600031,1,0,"[116882, 100804, 121582, 118679, 173406, 16547...","[[Nonfiction], [Fiction], [Romance], [Fiction]...","[[['Mass Market Paperback, 437 pages', ""Publis...","[[1549.2871992871994], [4537.555687555688], [7...","[[1549.2871992871994], [4537.555687555688], [7..."
7,600038,1,1,"[170569, 170569, 132893, 170569, 170569, 17056...","[[Science Fiction], [Science Fiction], [Fictio...","[[['Mass Market Paperback, 306 pages', 'Publis...","[[1578.6456786456783], [1578.6456786456783], [...","[[1578.6456786456783], [1578.6456786456783], [..."
8,600043,1,1,"[123784, 177211, 147044, 177061, 163177, 14360...","[[History], [Nonfiction], [Romance], [Classics...","[[['Paperback, 0 pages', 'Published September ...","[[356.2370062370062], [162.5185625185625], [70...","[[356.2370062370062], [162.5185625185625], [70..."
9,600046,1,1,[165088],[[Romance]],"[[['Mass Market Paperback, 289 pages', 'Publis...",[[1950.4603504603506]],[[1950.4603504603506]]
10,600052,1,1,"[165367, 118992, 153408, 170816, 143089, 11726...","[[Fiction], [Fiction], [Fiction], [History], [...","[[['229 pages', 'Published by Doubleday (first...","[[768.9040689040687], [428.3486783486783], [14...","[[768.9040689040687], [428.3486783486783], [14..."
11,600057,0,1,"[130122, 130122, 130122]","[[Classics], [Classics], [Classics]]","[[['Paperback, 160 pages', 'Published May 31st...","[[616.2162162162161], [616.2162162162161], [61...","[[616.2162162162161], [616.2162162162161], [61..."
12,600061,1,1,"[150686, 156863, 128592, 166279, 147826, 15675...","[[Fiction], [Romance], [Fiction], [Fiction], [...","[[['Paperback, 359 pages', 'Published Septembe...","[[1242.2037422037422], [13594.579744579743], [...","[[1242.2037422037422], [13594.579744579743], [..."
13,600068,1,1,"[153396, 175639, 131674, 151740, 131674, 11469...","[[Romance], [History], [Fiction], [Fiction], [...","[[['Kindle Edition, 242 pages', 'Published Apr...","[[884.051084051084], [1.574101574101574], [4.5...","[[884.051084051084], [1.574101574101574], [4.5..."
14,600072,1,1,[119780],[[Nonfiction]],"[[['Hardcover, 240 pages', 'Published October ...",[[71.93347193347194]],[[71.93347193347194]]
15,600079,1,1,[],[],[],[],[]
16,600081,0,1,"[125941, 101760, 150332, 101760, 125941, 17918...","[[Romance], [Nonfiction], [Classics], [Nonfict...","[[['Hardcover, 214 pages', 'Published July 5th...","[[17331.88298188298], [5.3608553608553615], [6...","[[17331.88298188298], [5.3608553608553615], [6..."
17,600089,1,1,"[144990, 124220, 145901, 114479, 114479, 14523...","[[Fiction], [Fiction], [Fiction], [History], [...","[[['Paperback, 148 pages', 'Published November...","[[0.7722007722007722], [3969.334719334719], [0...","[[0.7722007722007722], [3969.334719334719], [0..."
18,600090,1,0,"[113143, 174650, 140822, 104367, 149142, 10520...","[[Historical > Historical Fiction], [Fiction],...","[[['Hardcover, 500 pages', 'Published November...","[[256.05880605880606], [1497.119097119097], [3...","[[256.05880605880606], [1497.119097119097], [3..."
19,600099,0,0,"[170549, 170549, 143688, 170549]","[[Fiction], [Fiction], [History], [Fiction]]","[[['Paperback, 1088 pages', 'Published 2005 by...","[[966.8696168696167], [966.8696168696167], [26...","[[966.8696168696167], [966.8696168696167], [26..."
20,600102,1,0,"[137840, 123680, 162671, 162671, 123680, 12015...","[[Fiction], [Fiction], [Nonfiction], [Nonficti...","[[['Paperback, 335 pages', 'Published May 1st ...","[[18267.909117909123], [4.143154143154143], [6...","[[18267.909117909123], [4.143154143154143], [6..."
21,600105,1,0,"[120845, 127590, 127590, 127590]","[[Fiction], [Romance], [Romance], [Romance]]","[[['Mass Market Paperback, 503 pages', 'Publis...","[[23052.079002078997], [2838.030888030888], [2...","[[23052.079002078997], [2838.030888030888], [2..."
22,600114,1,1,"[120309, 167873, 106408, 132485, 130696, 10688...","[[Fiction], [Nonfiction], [Romance], [Fantasy]...","[[['Hardcover, 90 pages', 'Published May 2nd 2...","[[1.8117018117018115], [22.705672705672704], [...","[[1.8117018117018115], [22.705672705672704], [..."
23,600115,1,0,"[128293, 128293]","[[Fiction], [Fiction]]","[[['738 pages', 'Published 1998 by Warner (fir...","[[140.97119097119096], [140.97119097119096]]","[[140.97119097119096], [140.97119097119096]]"
24,600122,1,0,"[142054, 142054, 120507, 142054]","[[Fiction], [Fiction], [Romance], [Fiction]]","[[['Hardcover, 200 pages', 'Published December...","[[605.4202554202553], [605.4202554202553], [13...","[[605.4202554202553], [605.4202554202553], [13..."
25,600126,0,0,"[158766, 158766, 158766, 158766]","[[History], [History], [History], [History]]","[[['Paperback, 572 pages', 'Published April 24...","[[57.677457677457674], [57.677457677457674], [...","[[57.677457677457674], [57.677457677457674], [..."
26,600133,1,1,"[169446, 145008, 154371, 128955, 100390, 17619...","[[Classics], [Classics], [Classics], [Classics...","[[['Mass Market Paperback, New Folger edition ...","[[27395.233145233145], [3082.6403326403324], [...","[[27395.233145233145], [3082.6403326403324], [..."
27,600139,1,0,"[159750, 106808, 178261, 159750, 159750, 17826...","[[Fiction], [Romance], [Romance], [Fiction], [...","[[['Paperback, 337 pages', 'Published 2003 by ...","[[1794.7579447579446], [1580.5910305910306], [...","[[1794.7579447579446], [1580.5910305910306], [..."
28,600141,1,0,"[163177, 163177, 163177, 163177, 163177, 163177]","[[History], [History], [History], [History], [...","[[['Paperback, Reprint, 152 pages', 'Published...","[[758.8951588951587], [758.8951588951587], [75...","[[758.8951588951587], [758.8951588951587], [75..."
29,600146,1,0,"[163768, 104367, 100892, 163768, 167938]","[[Science Fiction], [Young Adult], [Classics],...","[[['Hardcover, 768 pages', 'Published March 2n...","[[548.8416988416989], [64.53816453816454], [34...","[[548.8416988416989], [64.53816453816454], [34..."
...,...,...,...,...,...,...,...,...
14970,674853,1,1,"[163893, 163893, 163893, 163893, 163893, 16389...","[[History], [History], [History], [History], [...","[[['Paperback, 463 pages', 'Published July 25t...","[[101.47015147015146], [101.47015147015146], [...","[[101.47015147015146], [101.47015147015146], [..."
14971,674856,1,1,"[139588, 168381, 178261, 178261, 178261]","[[Fiction], [Fiction], [Romance], [Romance], [...","[[['Hardcover, 335 pages', 'Published Septembe...","[[3089.6495396495397], [460.9741609741609], [2...","[[3089.6495396495397], [460.9741609741609], [2..."
14972,674861,1,1,"[153617, 138354, 173702, 105907, 123467, 10867...","[[Classics], [Nonfiction], [Nonfiction], [Fict...","[[['Paperback, 240 pages', 'Published April 6t...","[[241.47609147609143], [14.582714582714582], [...","[[241.47609147609143], [14.582714582714582], [..."
14973,674866,1,0,"[173023, 173023, 102227, 173023, 173023, 10222...","[[Fiction], [Fiction], [Fiction], [Fiction], [...","[[['Hardcover, 501 pages', 'Published October ...","[[1185.981585981586], [1185.981585981586], [13...","[[1185.981585981586], [1185.981585981586], [13..."
14974,674871,0,0,"[150393, 163421, 148229, 150393, 156793, 16192...","[[History], [Classics], [Classics], [History],...","[[['Paperback, 499 pages', 'Published November...","[[33.38283338283338], [3444.000594000594], [67...","[[33.38283338283338], [3444.000594000594], [67..."
14975,674875,1,1,"[125399, 141593, 116985, 100632, 161911, 11756...","[[Fiction], [Nonfiction], [Nonfiction], [Class...","[[['Hardcover, 465 pages', 'Published February...","[[27422.720522720523], [375.8984258984259], [1...","[[27422.720522720523], [375.8984258984259], [1..."
14976,674884,1,1,"[178641, 120106]","[[Classics], [Classics]]","[[['Paperback, 404 pages', 'Published August 2...","[[80.39798039798039], [1795.0103950103949]]","[[80.39798039798039], [1795.0103950103949]]"
14977,674885,1,0,"[121582, 121582, 121582, 121582, 121582, 12158...","[[Romance], [Romance], [Romance], [Romance], [...","[[['Kindle Edition, 319 pages', 'Published May...","[[7276.952776952777], [7276.952776952777], [72...","[[7276.952776952777], [7276.952776952777], [72..."
14978,674890,1,0,"[118065, 118065]","[[Historical > Historical Fiction], [Historica...","[[['Paperback, 973 pages', 'Published February...","[[8446.435996435996], [8446.435996435996]]","[[8446.435996435996], [8446.435996435996]]"
14979,674899,0,1,"[157022, 127561, 110105, 115582, 143089, 12797...","[[History], [Classics], [Fiction], [Classics],...","[[['Hardcover, 325 pages', 'Published October ...","[[664.4787644787643], [30.35343035343035], [10...","[[664.4787644787643], [30.35343035343035], [10..."
14980,674902,0,0,"[113819, 123784, 113819, 123784, 113819, 176534]","[[Fiction], [History], [Fiction], [History], [...","[[['Hardcover, 278 pages', 'Published July 14t...","[[2949.8811998812], [356.2370062370062], [2949...","[[2949.8811998812], [356.2370062370062], [2949..."
14981,674907,1,0,"[142460, 110484, 142460, 121906, 129177, 15489...","[[Romance], [Fiction], [Romance], [Fiction], [...","[[['Paperback, 579 pages', 'Published April 17...","[[9619.61686961687], [1.1583011583011582], [96...","[[9619.61686961687], [1.1583011583011582], [96..."
14982,674911,0,1,"[129526, 129526, 136291, 129526, 129526, 10631...","[[Nonfiction], [Nonfiction], [Fiction], [Nonfi...","[[['Hardcover, 285 pages', 'Published May 3rd ...","[[34.36293436293436], [34.36293436293436], [95...","[[34.36293436293436], [34.36293436293436], [95..."
14983,674917,1,1,"[145534, 113508]","[[Science Fiction], [Fiction]]","[[['Paperback, 248 pages', 'Published April 19...","[[322.70567270567267], [151.54440154440152]]","[[322.70567270567267], [151.54440154440152]]"
14984,674924,1,0,"[120314, 154555, 146087, 117927]","[[Fiction], [Romance], [Fiction], [Fiction]]","[[['Paperback, 320 pages', 'Published July 28t...","[[190.74844074844074], [13597.223047223048], [...","[[190.74844074844074], [13597.223047223048], [..."
14985,674927,0,1,"[169446, 169446, 169446, 169446, 169446, 16944...","[[Classics], [Classics], [Classics], [Classics...","[[['Mass Market Paperback, New Folger edition ...","[[27395.233145233145], [27395.233145233145], [...","[[27395.233145233145], [27395.233145233145], [..."
14986,674931,0,0,[],[],[],[],[]
14987,674938,1,0,"[154555, 154555, 154555]","[[Romance], [Romance], [Romance]]","[[['Paperback, 369 pages', 'Published July 30t...","[[13597.223047223048], [13597.223047223048], [...","[[13597.223047223048], [13597.223047223048], [..."
14988,674942,1,1,"[113242, 143871, 137622, 143650, 123842, 13597...","[[Nonfiction], [Classics], [Classics], [Nonfic...","[[['Hardcover, First edition, 240 pages', 'Pub...","[[450.19305019305017], [186.82803682803683], [...","[[450.19305019305017], [186.82803682803683], [..."
14989,674947,1,1,"[175174, 132459, 154977, 176481, 113756, 13245...","[[Childrens > Picture Books], [Fantasy], [Fant...","[[['Hardcover, 40 pages', 'Published July 5th ...","[[1024.4579744579744], [1791.5503415503415], [...","[[1024.4579744579744], [1791.5503415503415], [..."
14990,674953,1,0,"[116647, 105083, 110100, 171769, 157022, 17176...","[[History], [Fantasy], [Classics], [History], ...","[[['Paperback, 400 pages', 'Published June 28t...","[[35.19453519453519], [459.1179091179091], [21...","[[35.19453519453519], [459.1179091179091], [21..."
14991,674958,1,0,"[146618, 147997, 128955, 146618, 146618, 14661...","[[History], [Classics], [Classics], [History],...",[[['Published by Macmillan General Books (firs...,"[[145.9310959310959], [8286.427086427086], [23...","[[145.9310959310959], [8286.427086427086], [23..."
14992,674964,1,0,[],[],[],[],[]
14993,674967,1,0,"[168053, 157704, 111999, 157709, 160363, 10505...","[[Nonfiction], [Classics], [Nonfiction], [Nonf...","[[['Paperback, 224 pages', 'Published December...","[[447.3863973863974], [17101.29195129195], [0....","[[447.3863973863974], [17101.29195129195], [0...."
14994,674970,1,0,"[117306, 117580, 162058, 144682, 154865, 17340...","[[History], [Fiction], [Nonfiction], [Nonficti...","[[['Hardcover, 336 pages', 'Published April 11...","[[61.939411939411926], [299.36144936144933], [...","[[61.939411939411926], [299.36144936144933], [..."
14995,674975,1,0,"[118516, 138878, 163436, 151539, 154123, 13889...","[[Nonfiction], [Classics], [Nonfiction], [Clas...","[[['Hardcover, 158 pages', 'Published February...","[[7.291357291357291], [12680.53163053163], [21...","[[7.291357291357291], [12680.53163053163], [21..."
14996,674984,1,1,"[122907, 148229, 136690, 132893, 164397, 12287...","[[History], [Classics], [History], [Fiction], ...","[[['Hardcover, 540 pages', 'Published May 10th...","[[20.5969705969706], [6715.8449658449645], [21...","[[20.5969705969706], [6715.8449658449645], [21..."
14997,674986,1,0,"[127400, 127400, 127400, 127400, 127400, 16183...","[[Mystery], [Mystery], [Mystery], [Mystery], [...","[[['ebook, 266 pages', 'Published January 6th ...","[[1.915651915651916], [1.915651915651916], [1....","[[1.915651915651916], [1.915651915651916], [1...."
14998,674992,1,0,[],[],[],[],[]
14999,674999,1,0,[],[],[],[],[]